In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_rows = 3000

In [3]:
df = pd.read_csv('./datasets/backup2.csv')
df.head()

,title,time,sub,comments
0,Dad reflexes prevent crash.,2 hours ago,r/DadReflexes,249 comments
1,Quite literally choosing beggar,4 hours ago,r/ChoosingBeggars,631 comments
2,When your cat crashes his bicycle in his dream...,4 hours ago,r/funny,642 comments
3,Heatmap of numbers found at the end of Reddit ...,5 hours ago,r/dataisbeautiful,2612 comments
4,Hre you OPEN TODAY,5 hours ago,r/oldpeoplefacebook,313 comments

In [4]:
df.shape

(2525, 4)

In [5]:
df['comments'] = df['comments'].apply(lambda x: x.replace('comments', ''))

In [6]:
df['comments'].value_counts()

2            121
1 comment     97
3             84
4             78
7             76
6             74
5             73
9             69
11            64
10            64
comment       63
14            59
8             57
12            49
15            42
18            38
13            37
20            31
22            30
16            29
23            28
17            28
21            25
37            25
31            24
28            23
19            23
24            22
26            21
35            20
27            20
25            16
29            16
32            15
30            15
42            14
36            14
34            14
64            13
38            13
39            13
43            12
45            11
33            11
40            11
57            10
68            10
50            10
65            10
41            10
79             9
61             9
60             9
77             9
47             9
80             9
53             9
51             8
59             8
46             8
44             8
54             8
70             8
71             8
89             8
52             8
62             7
87             7
76             7
84             7
67             7
56             7
81             7
73             7
159            6
74             6
122            6
55             6
104            6
101            6
103            5
114            5
146            5
48             5
98             5
63             5
129            5
75             5
165            5
124            5
90             5
155            5
86             5
78             5
58             5
66             5
208            4
125            4
117            4
195            4
82             4
113            4
49             4
157            4
225            4
138            4
99             4
272            4
72             4
161            4
97             4
174            4
151            4
248            4
95             4
96             4
69             4
88             4
116            4
142            3
178            3
105            3
109            3
238            3
126            3
197            3
136            3
149            3
141            3
121            3
162            3
110            3
562            2
194            2
670            2
231            2
625            2
847            2
448            2
115            2
179            2
603            2
609            2
396            2
107            2
85             2
181            2
222            2
483            2
127            2
199            2
274            2
398            2
135            2
409            2
94             2
263            2
266            2
192            2
130            2
220            2
316            2
153            2
133            2
137            2
338            2
93             2
232            2
123            2
223            2
218            2
102            2
148            2
245            2
185            2
189            2
228            2
264            2
326            2
91             2
287            2
305            2
118            2
100            2
445            2
134            2
173            2
198            2
434            2
111            2
229            2
329            2
262            2
190            2
209            2
150            2
152            2
867            2
674            1
83             1
2062           1
314            1
702            1
293            1
1897           1
302            1
500            1
421            1
790            1
888            1
905            1
331            1
662            1
276            1
481            1
337            1
955            1
857            1
236            1
1470           1
460            1
387            1
1109           1
681            1
776            1
1079           1
275            1
217            1
1143           1
410            1
269            1
172            1
524            1
475            1
164            1
756            1
140            1
344            1
216            1
495            1
2211           1
299            1
226            1
4460           1
1978           1
704            1
575            1
5995           1
1252           1
325            1
154            1
252            1
143            1
1138           1
399            1
319            1
176            1
246            1
4267           1
458            1
2905           1
233            1
1467           1
815            1
378            1
371            1
1248           1
550            1
180            1
402            1
998            1
2134           1
606            1
1848           1
204            1
1067           1
120            1
345            1
112            1
108            1
455            1
131            1
177            1
465            1
1625           1
1199           1
499            1
285            1
106            1
166            1
213            1
451            1
196            1
92             1
214            1
335            1
631            1
243            1
270            1
655            1
424            1
186            1
958            1
339            1
875            1
517            1
271            1
2222           1
374            1
1130           1
341            1
612            1
380            1
574            1
4477           1
1066           1
128            1
381            1
415            1
212            1
864            1
567            1
642            1
227            1
718            1
286            1
538            1
750            1
147            1
1584           1
366            1
184            1
1135           1
1060           1
249            1
1446           1
5926           1
215            1
420            1
683            1
1183           1
132            1
468            1
2247           1
277            1
464            1
211            1
265            1
392            1
139            1
470            1
935            1
772            1
626            1
657            1
201            1
230            1
666            1
472            1
769            1
301            1
8803           1
206            1
1150           1
308            1
2508           1
1114           1
469            1
205            1
406            1
370            1
6492           1
321            1
145            1
369            1
258            1
676            1
313            1
1610           1
902            1
307            1
648            1
727            1
6296           1
437            1
2930           1
255            1
383            1
336            1
251            1
675            1
289            1
1904           1
119            1
1005           1
1607           1
2612           1
188            1
2023           1
1814           1
8860           1
616            1
641            1
707            1
720            1
17273          1
234            1
578            1
912            1
359            1
2675           1
663            1
203            1
459            1
1076           1
363            1
259            1
1915           1
511            1
461            1
2899           1
Name: comments, dtype: int64

In [7]:
df['comments'] = df['comments'].apply(lambda x: x.replace('comment', ''))

In [8]:
df['comments'] = df['comments'].apply(lambda x: 0 if x == '' else x)

In [9]:
df['comments'] = df['comments'].apply(lambda x: int(x))

In [10]:
df.dtypes

title       object
time        object
sub         object
comments     int64
dtype: object

In [11]:
df['time'].value_counts()

6 hours ago       316
4 hours ago       309
5 hours ago       308
7 hours ago       279
3 hours ago       235
8 hours ago       199
2 hours ago       191
9 hours ago       117
10 hours ago       97
11 hours ago       74
1 hour ago         48
12 hours ago       43
13 hours ago       40
17 hours ago       36
15 hours ago       33
14 hours ago       28
16 hours ago       27
an hour ago        27
19 hours ago       24
18 hours ago       21
23 hours ago       19
20 hours ago       16
21 hours ago       12
22 hours ago       11
59 minutes ago      2
41 minutes ago      2
29 minutes ago      1
50 minutes ago      1
28 minutes ago      1
48 minutes ago      1
57 minutes ago      1
22 minutes ago      1
30 minutes ago      1
32 minutes ago      1
35 minutes ago      1
10 minutes ago      1
Name: time, dtype: int64

In [12]:
df['time'].apply(lambda x: type(x)).value_counts()

<type 'str'>      2524
<type 'float'>       1
Name: time, dtype: int64

In [13]:
df[df['time'].isnull() == True]

                                            title time           sub  comments
1259  Turns out AB+ isn't always all that selfish  NaN  r/coolguides       174

In [14]:
df.isnull().sum()

title       0
time        1
sub         0
comments    0
dtype: int64

In [16]:
df['time'] = df['time'].apply(lambda x: float(str(x)[0:2])/60 if 'minutes' in str(x)\
                 else float(str(x)[:-10]) if 'hours' in str(x) else x)

In [17]:
df['time'] = df['time'].apply(lambda x: 1 if 'hour' in str(x) else x)

In [18]:
df.dtypes

title        object
time        float64
sub          object
comments      int64
dtype: object

In [22]:
df = df.dropna()

In [23]:
df.describe()

              time      comments
count  2524.000000   2524.000000
mean      6.845094    126.415214
std       4.405695    568.840644
min       0.166667      0.000000
25%       4.000000      7.000000
50%       6.000000     21.000000
75%       8.000000     73.000000
max      23.000000  17273.000000

In [28]:
len(df[df['comments'] >= 100])/float(len(df))

0.19730586370839936

In [29]:
# There is an extremely high variance in the number of comments. 
# Choosing 100 as a threshold seems reasonble as just under 20% of posts achieve that.

In [32]:
df['H/L'] = df['comments'].apply(lambda x: 'Low' if x < 100 else 'High')

In [36]:
df.head()

,title,time,sub,comments,H/L
0,Dad reflexes prevent crash.,2.0,r/DadReflexes,249,High
1,Quite literally choosing beggar,4.0,r/ChoosingBeggars,631,High
2,When your cat crashes his bicycle in his dream...,4.0,r/funny,642,High
3,Heatmap of numbers found at the end of Reddit ...,5.0,r/dataisbeautiful,2612,High
4,Hre you OPEN TODAY,5.0,r/oldpeoplefacebook,313,High

In [37]:
df['H/L'].value_counts()

Low     2026
High     498
Name: H/L, dtype: int64

In [39]:
df['CpH'] = df['comments']/df['time']

In [48]:
df.describe()

              time      comments          CpH
count  2524.000000   2524.000000  2524.000000
mean      6.845094    126.415214    17.321115
std       4.405695    568.840644    62.392326
min       0.166667      0.000000     0.000000
25%       4.000000      7.000000     1.375000
50%       6.000000     21.000000     4.000000
75%       8.000000     73.000000    11.428571
max      23.000000  17273.000000  1107.500000

In [52]:
len(df[df['CpH'] >= 10])/float(len(df))

0.2777337559429477

In [53]:
# On second thought, maybe it's better to classify for a good rate - more than 10 comments per hour.
# About 28% of posts achieved that.

In [55]:
df['H/L'] = df['CpH'].apply(lambda x: 'Low' if x < 10 else 'High')

In [56]:
df.head()

,title,time,sub,comments,H/L,CpH
0,Dad reflexes prevent crash.,2.0,r/DadReflexes,249,High,124.50
1,Quite literally choosing beggar,4.0,r/ChoosingBeggars,631,High,157.75
2,When your cat crashes his bicycle in his dream...,4.0,r/funny,642,High,160.50
3,Heatmap of numbers found at the end of Reddit ...,5.0,r/dataisbeautiful,2612,High,522.40
4,Hre you OPEN TODAY,5.0,r/oldpeoplefacebook,313,High,62.60

In [57]:
# Reordering the columns to put the target at the end. 
cols = ['title', 'time', 'sub', 'comments', 'CpH', 'H/L']
df = df[cols]

In [58]:
df.head()

,title,time,sub,comments,CpH,H/L
0,Dad reflexes prevent crash.,2.0,r/DadReflexes,249,124.50,High
1,Quite literally choosing beggar,4.0,r/ChoosingBeggars,631,157.75,High
2,When your cat crashes his bicycle in his dream...,4.0,r/funny,642,160.50,High
3,Heatmap of numbers found at the end of Reddit ...,5.0,r/dataisbeautiful,2612,522.40,High
4,Hre you OPEN TODAY,5.0,r/oldpeoplefacebook,313,62.60,High

In [59]:
df.iloc[3,0]

'Heatmap of numbers found at the end of Reddit usernames [OC]'